h1{
    text-align: center;
}


main{
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
main img{
    margin: 2%;
    background-color: black;
    animation: fade 15s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

