:root{
    --primary-color: #065DAA;
    --secondary-color: #AAC1E1;
    --teriary-color: gray;
    --highlight-color: #9BC1B4;
    --six-grid: repeat(1fr, 6);
    
}
header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    max-width: 70px;
    max-height: 70px;
    margin-left: 2%;

}
.title{
    justify-self: center;
}

nav{
    position: sticky;
    top: 1px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: var(--highlight-color);
}
nav a{
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: var(--highlight-color);
    border-bottom: solid black 1px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    transition: 0.4s;
}

nav a:hover{
    margin-bottom: 5px;
}

main{
    width: clamp(300px,95%,2160px);
    margin: auto;
    display: grid;
}
section{
    /* border: black solid 1px; */
    /* background-color: var(--secondary-color); */
    margin: .5em;
}

.hero{
    grid-column: 1/6;
    margin-top: 0px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

#hero-img img{
    width: clamp(300px,2160px,100%);
    position: relative;
    margin: auto;

}
.call-to-action{
    background-color: var(--highlight-color);
    border: solid var(--primary-color);
    border-radius: 10px;
    transition-duration: 0.4s;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 6em;
    height: 3em;
    position: absolute;
    
}
.call-to-action:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 5px;

}
.call-to-action a{
    color: black;
    text-decoration: none;
}

.current-events{
    text-align: center;
    grid-row: 2;
    background-color: var(--teriary-color);
    grid-column: 1/2;
    width: clamp(300px,1000px,100%)
}
.current-events li{
    background-color: var(--secondary-color);
    list-style: none;
    padding: 1%;
    margin-bottom: 2%;
    margin-right: 5%;
    border: dashed var(--primary-color);
}
.weather{
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-align: center;
    grid-column: 2;
    background-color: var(--teriary-color);
}
.weather h2{
    grid-column: 1/3;
    
}
.spotlight{
    grid-row: 3;
    grid-column: 1/6;
    background-color: var(--teriary-color);
}
#temp::after{
    content: ' °F';
}
footer{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-top: black solid 5px;
}



.hamburger-button button{
    background-color: var(--primary-color);
    width: 100px;
    height: 120px;
    font-size: 3rem;
    
}

.active{
    display: none;
}
.inactive{
    
    
}
@media (min-width:500px) {
    #hamburger-button button{
        display: none;
        
    }
}