:root {
    --primary-color: #065DAA;
    --secondary-color: #AAC1E1;
    --teriary-color: lightgray;
    --highlight-color: #9BC1B4;

}

body {
    background-color: var(--teriary-color);
}

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    max-width: 70px;
    max-height: 70px;
    margin-left: 2%;

}

.title {
    justify-self: center;
}

main {
    width: clamp(200px, 95%, 2160px);
    margin: auto;
    display: grid;
    background-color: var(--secondary-color);
    grid-template-columns: 1fr 1fr 1fr;
}

.discover {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image-gallery img {
    width: 200px;
    max-width: 100%;
    height: auto;
}

section {
    /* border: black solid 1px; */
    background-color: var(--teriary-color);
    margin: 1em;
    border: solid var(--primary-color);
        border-radius: 20px;
}

.hero {
    grid-column: 1/4;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-img img {
    width: clamp(300px, 2160px, 100%);
    position: relative;
    margin: auto;

}

.call-to-action:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;

}

#temp::after {
    content: ' °F';
}

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-top: black solid 5px;
}


.active {
    display: none;
}

.call-to-action {
    text-align: center;
    background-color: var(--highlight-color);
    border: solid var(--primary-color);
    border-radius: 10px;
    transition-duration: 0.4s;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 6em;
    height: 1em;
    position: absolute;
    color: black;
    text-decoration: none;

}

form input {
    background-color: var(--teriary-color);
    display: block;
}

form label {
    display: block;
    margin: 1%;
}

select {
    background-color: var(--highlight-color);
}

textarea {
    background-color: var(--teriary-color);
}

.membership table {
    padding: 5%;
}
.membership h2 {
    text-align: center;
}

.membership tr:hover {
    background-color: var(--highlight-color);
}
.membership dt {
    text-decoration: bold;
    
    font-size: 1.2rem;
}




@media screen and (max-width:499px) {

    main {
        grid-template-columns: 1fr;
    }

    .current-events {
        grid-row: 3;
    }

    .spotlight {
        grid-row: 4;
    }

    .weather {
        grid-row: 5;
    }

    .discover {
        display: grid;
        grid-template-columns: 1fr;
    }

    nav a {
        display: block;
        width: 100%;
        margin-bottom: 0;
        background-color: var(--secondary-color);
        color: black;
        text-decoration: none;
        transition: 0.4s;
        margin: auto;
        text-align: center;
        border-bottom: black solid;
        padding: 1%;
    }

    .hamburger-button button {
        background-color: var(--primary-color);
        width: 5rem;
        height: 100%;
        font-size: 3rem;
    }

    nav {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: var(--secondary-color);
        flex-wrap: wrap;
    }

    
}