@media screen and (min-width: 720px) {
    .hamburger-button button{
        display: none;
        
    }
    nav {
        position: sticky;
        top: 1px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        background-color: var(--secondary-color);
        padding-bottom: 1%;
        z-index: 10;
    }
    nav a {
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
        margin-bottom: 0;
        background-color: var(--secondary-color);
        border-bottom: solid black 1px;
        border-radius: 5px;
        color: black;
        text-decoration: none;
        transition: 0.4s;
    }
    nav a:hover {
        color: var(--primary-color);
        margin-bottom: 1px;
    }
    .current-events {
        text-align: center;
        grid-row: 2;
        background-color: var(--teriary-color);
        grid-column: 1/3;
        width: 100%;
        border: solid var(--primary-color);
        border-radius: 20px;
        margin: 5px;
    }

    .current-events li {
        background-color: var(--secondary-color);
        list-style: none;
        padding: 1%;
        margin-bottom: 2%;
        margin-right: 5%;
        border: solid var(--primary-color);
        border-radius: 20px;
    }
    .spotlight {
        grid-row: 3;
        grid-column: 1/6;
        background-color: var(--teriary-color);
    }
    .weather {
        grid-row: 2;
        display: flex;
        background-color: var(--teriary-color);
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        text-align: center;
        
        font-size: 1.2rem;
    }
    .weather  h2{
        text-align: center;
        width: 100%;
        height: 2rem;
    }
    

    #weather-img{
        width: 20vw;
    }
    .membership {
        grid-column: 3/4;
    }
    .sign-up{
        width: 95%;
        grid-column: 1/3;
    }
    
}