@media (min-width: 500px) and (max-width: 720px)  {
    .hamburger-button button {
        display: none;
    }
    #sidebar{
        grid-column: 1;
        grid-row: 1;
    }
    #image-gallery{
        grid-column: 1;
    }
    nav {
        position: sticky;
        top: 1px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        background-color: var(--secondary-color);
        padding-bottom: 1%;
        z-index: 10;
        height: 2.2rem;
    
    }
    nav a {
        padding-left: 3%;
        padding-right: 3%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
        margin-bottom: 0;
        background-color: var(--secondary-color);
        border-bottom: solid black 1px;
        border-radius: 5px;
        color: var(--font-color);
        text-decoration: none;
        transition: 0.4s;
    }
    nav a:hover {
        color: var(--primary-color);
        font-size: 1.2rem;
    }
    .current-events {
        text-align: center;
        grid-row: 2;
        background-color: var(--teriary-color);
        grid-column: 1/3;
        width: 90%;
        border: solid var(--primary-color);
        border-radius: 20px;
    }

    .current-events li {
        background-color: var(--secondary-color);
        list-style: none;
        padding: 1%;
        margin-bottom: 2%;
        margin-right: 5%;
        border: solid var(--primary-color);
        border-radius: 20px;
    }
    .spotlight {
        grid-row: 3;
        grid-column: 1/6;
        background-color: var(--teriary-color);
    }
    .weather {
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        grid-column: 3/4;
        background-color: var(--teriary-color);
        border: solid var(--primary-color);
        border-radius: 20px;
        font-size: 1.2rem;
    }

    .weather h2 {
        grid-column: 1/3;

    }
    #weather-img{
        width: 20vw;
    }
    .membership {
        grid-column: 3/4;
    }
    .sign-up{
        grid-column: 1/3;
    }
    .list-view .member {
        flex-wrap: wrap;
    }
}