@media screen and (min-width: 500px) and (max-width: 720px)  {
    #hamburger-button button{
        display: none;
    }
    #sidebar{
        grid-column: 1;
        grid-row: 1;
    }
    #image-gallery{
        grid-column: 1;
    }
    
}