


:root{
    ---tangerine: #e98827ff;
    --eggshell: #f1ead7ff;
    --sea-green: #20894eff;
    --cambridge-blue: #7db7aaff;
    --khaki: #bfb7a0ff;
    --syracuse-red-orange: #d45419ff;
    --rich-black: #0a0f22ff;

    --primary-color:var(--khaki);

    
    
}

[data-theme="dark"] {
    --font-color:white;

}

body{
    background-color: var(--khaki);
    margin: 0;
    
}

nav{
    display: flex;
    justify-content: space-between;
}

main{
    background-image: url("../images/background.png");
    background-size:contain;
}

#weather-1{
    display: flex;
}
.hero{
    background-color: var(--syracuse-red-orange);
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    
    text-align: center;
    padding-top: 30vh ;
    padding-bottom: 30vh;
    
}

#weather-banner {
    display: none;
    padding: 10px;
    background-color: #ff6666;
    color: #fff;
    text-align: center;
}

