main{
    width: 95%;
    margin: auto;
    display: grid;
}

body {
    
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(220, 220, 220);
    margin: 0;
    
}
header{
    background-color: rgb(255, 147, 64);
   display: flex;
   justify-content: center;
   align-content: center;
}
h1{
    align-self: center;
    margin: 1%;
}
header img{
    width: 100%;
    max-width: 10vw;
    height: auto;
    margin: 1%;
}
nav{
   background-color: rgb(35, 35, 35);
    text-align: center;
    color: white;
    padding: 5px;
 
}
ul{
    list-style: none;
}
nav a{
    color: white;
    text-decoration: none;
    padding-left: 3%;
    
}

li{
    margin: 15px;
}

h3 {
    text-align: center;
    background-color: rgb(255, 147, 64);
    margin: 0px;
    border-top-right-radius: 15px ;
    border-top-left-radius: 15px;
    padding: 1%;

    
}
.card{
    margin: 15px;
}
.card ul {
    border-style: solid;
    border-width: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-RIGHT-radius: 15px;
    justify-content: left;
    margin: 0%;
}

.title {
    margin: 20px;
    border-bottom: 2px black solid;
    text-align: center;
}


footer {
    background-color: rgb(255, 147, 64);
    align-self: center;
    justify-content: center;
    align-content: center;
    padding: 20px;
    display: flex;

}
p{
    margin-right: 1%;
}