body {
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    background-color: darkgray;
    max-width: 960px;
    margin: auto;

}

h1 {
    justify-self: left;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 4;
    padding-right: 20px;
}

.heading {

    border-bottom: 2px black solid;
}

header,
footer {
    background-color: #0E365D;
    align-self: center;
    justify-content: center;
    align-content: center;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.495);
    padding: 15px;
}

img {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 50%;
    justify-self: center;
    align-self: center;
}

p {
    font-style: italic;
    font-size: .75em;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 5px;
}

.week_list {
    padding-left: 10%;
    border-bottom: 2px black solid;
    padding-bottom: 50px;
    margin-bottom: 0px;
}